

body { 
    background-color: green;
    border: 5px solid black;
    height: auto ;
    width: auto;
    text-align: left;
}  
a {
    color: blue; 
    
}
h1 {
    color: red;
    font-family:"Press Start 2P";
    text-align: center;
}
h2 {
    color: blue;
    font-size: 20px;
    font-family: "Press Start 2P", cursive;
}  
h3 {
    font-size: 30px;
}
h4 {
    font-size: 40px;
}
p {
    font-size: 10px;

}

